# Environnements virtuels
ws_env/
venv/
env/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Données générées
annuaire_avocat.txt